@mixin doubleGradient($color1, $color2, $gradientDirection) {
  background: $color1;
  background: -webkit-linear-gradient(to $gradientDirection, $color1, $color2);
  background: linear-gradient(to $gradientDirection, $color1, $color2);
}
