@mixin mainTripleGradient($color1, $color2, $color3, $gradientDirection) {
  background: $color3;
  background: -webkit-linear-gradient(to $gradientDirection, $color1, $color2, $color3);
  background: linear-gradient(to $gradientDirection, $color1, $color2, $color3);
}
