.card-form {
  background-color: white;
  border-radius: 8px 8px 0 0;
  height: 100%;
  max-width: 570px;
  width: 100%;
}

.card-form__container {
  width: 100%;
  max-height: 100vh;
  margin-top: 200px;
  padding:  0 30px 30px 30px;
}

.card-input {
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}

.card-input__input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 2px solid gray;
  outline: none;
  padding: 10px;
  font-size: 20px;
  transition: border 1s;

  &:focus {
    border: 2px solid navy;
    transition: border 1s;
  }
}

.card-input__select {
  height: 40px;
  border-radius: 8px;
  outline: none;
  padding: 5px;
  cursor: pointer;
  border: 2px solid gray;

  &:first-child {
    margin-right: 10px;
  }

  &:focus {
    border: 2px solid navy;
    transition: border 1s;
  }

  option {
    border: 1px solid gray;
  }
}

.card-form__row {
  display: flex;
  justify-content: space-between;
}

label {
  margin-bottom: 8px;
  display: inline-block;
}

.card-input--small {
  width: 40%;
}

.card-form__eye-icon {
  color: black;
  cursor: pointer;
  position: absolute;
  bottom: 8px;
  right: 10px;
}

.card-form__eye-icon--visible {
  color: navy;
}

.card-form__eye-icon--disabled {
  cursor: not-allowed!important;
  color: gray;
}

#credit-card__submit-button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #3d72b4;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: background-color 0.5s, letter-spacing 0.5s;

  &:hover {
    background-color: #3d72d9;
    letter-spacing: 5px;
    transition: background-color 0.5s, letter-spacing 0.5s;
  }
}

.credit-card__submit-button--loading {
  background-color: darkblue!important;
  color: white;
  transition: background-color 0.1s;
}

.loop {
  animation: spinnerLoop infinite linear 1s;
}

@keyframes spinnerLoop {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.credit-card__submit-button--change_icon {
  animation: hideIcon forwards linear 0.2s;
}

@keyframes hideIcon {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fontSizeChange {
  from {
    font-size: 20px;
  }
  to {
    font-size: 35px!important;
  }
}

.credit-card__submit-button--success {
  background-color: darkgreen!important;
  transition: background-color 0.5s;
}

.done-icon {
  font-size: 35px!important;
  animation: fontSizeChange forwards 0.2s ease-in;
}

.credit-card__submit-button--error {
  background-color: darkred!important;
  transition: background-color 0.5s;
}

.credit-card__errors-container {
  opacity: 0;
  transition: opacity 0.25s;
  color: red;
  font-size: 12px;
  font-weight: normal;
  padding: 5px 30px 30px 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: square;
}

.credit-card__errors-container--visible {
  opacity: 1;
  transition: opacity 0.25s;
}

.credit-card__errors-list-item {
  width: 50%;
  padding-bottom: 5px;
}

